.formulario-componente {
    width: 800px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #EAFDFF;
    padding: 30px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
}



